.mute {
    padding: 2.5px 4px 0 0;
    height: 14px;
    float: left;
}

.mute:hover {
    cursor: pointer;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-0.25px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(0.5px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-1px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(1px, 0, 0);
    }
}

.wiggle {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}